In [33]:
s={2,3,3,4,4,4,6,7,8,9,9}

In [34]:
s

{2, 3, 4, 6, 7, 8, 9}

In [35]:
s.difference()

{2, 3, 4, 6, 7, 8, 9}

In [36]:
s.update(6)

TypeError: 'int' object is not iterable

In [37]:
s.add(5)

In [38]:
s

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s.update(10)

In [41]:
s1={1,2,3,4,5,6}
s2={1,2,6,7,8,9}

In [42]:
s1.intersection(s2)

{1, 2, 6}

In [43]:
s1.intersection s2

SyntaxError: invalid syntax (<ipython-input-43-f77f22a9e062>, line 1)

In [44]:
type(s1)

set

In [45]:
s1.intersection()

{1, 2, 3, 4, 5, 6}

In [46]:
s1.intersections2()

AttributeError: 'set' object has no attribute 'intersections2'

In [47]:
s1.remove(3)

In [48]:
s1

{1, 2, 4, 5, 6}

In [49]:
s1.discard(4)

In [50]:
s1

{1, 2, 5, 6}

In [51]:
s1.union(s2)

{1, 2, 5, 6, 7, 8, 9}

In [52]:
s1.intersection(s2)

{1, 2, 6}

In [53]:
s1.difference(s2)

{5}

In [54]:
s1*s2

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [55]:
s1/s2

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [56]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [57]:
s1-s2

{5}

In [58]:
s2+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [59]:
s2-s2

set()

In [60]:
s2-s1

{7, 8, 9}

In [61]:
s3={9,10,11,15}
s3

{9, 10, 11, 15}

In [62]:
s4=s3-{9,10,11}

In [63]:
s4

{15}

In [66]:
H={Name:["Craig", "prasad", "Rasika"], Age:(22,23,24), Languages:["Tamil", "English", "Sinhala"]}

NameError: name 'Name' is not defined

In [67]:
H={"Name": "Craig", "prasad", "Rasika" "Age": 23, 24 "Gender": "male", "female"}

SyntaxError: invalid syntax (<ipython-input-67-c2238db9272e>, line 1)

In [68]:
H={"Name": "Craig", "prasad", "Rasika", "Age": 23, 24 , "Gender": "male", "female"}

SyntaxError: invalid syntax (<ipython-input-68-d6356dda7b20>, line 1)

In [77]:
H={"Name": "Craig", "prasad", "Rasika", "Age": 23, 24 , "Gender": "Male", "Female"}

SyntaxError: invalid syntax (<ipython-input-77-8b39afa05719>, line 1)

In [69]:
h={"Name": "Craig", "Age": 23, "Gender":"Male"}

In [70]:
h

{'Name': 'Craig', 'Age': 23, 'Gender': 'Male'}

In [71]:
type(h)

dict

In [72]:
d.values()

NameError: name 'd' is not defined

In [73]:
h.keys()

dict_keys(['Name', 'Age', 'Gender'])

In [74]:
h.values()

dict_values(['Craig', 23, 'Male'])

In [75]:
h.items()

dict_items([('Name', 'Craig'), ('Age', 23), ('Gender', 'Male')])

In [76]:
h[1][0]

KeyError: 1

In [79]:
i={"Name": ["Craig", "Chrstin", "Rasika"], "Age":[23, 24, 25, 27, 36], "Languages":["Tamil", "English", "Sinhala"]}

In [80]:
i

{'Name': ['Craig', 'Chrstin', 'Rasika'],
 'Age': [23, 24, 25, 27, 36],
 'Languages': ['Tamil', 'English', 'Sinhala']}

In [81]:
type(i)

dict

In [86]:
i["Age"][-1]=39

In [87]:
i

{'Name': ['Craig', 'Chrstin', 'Rasika'],
 'Age': [23, 24, 25, 27, 39],
 'Languages': ['Tamil', 'English', 'Sinhala']}

In [85]:
dict(i)

{'Name': ['Craig', 'Chrstin', 'Rasika'],
 'Age': [23, 24, 25, 27, 39],
 'Languages': ['Tamil', 'English', 'Sinhala']}

In [88]:
"flower" in i

False

In [89]:
"Languages" in i

True

In [90]:
type in i

False

In [91]:
i.get("Age")

[23, 24, 25, 27, 39]

In [92]:
i["Age"][-1]=35

In [93]:
i

{'Name': ['Craig', 'Chrstin', 'Rasika'],
 'Age': [23, 24, 25, 27, 35],
 'Languages': ['Tamil', 'English', 'Sinhala']}

In [94]:
del(i["Age"])

In [95]:
i

{'Name': ['Craig', 'Chrstin', 'Rasika'],
 'Languages': ['Tamil', 'English', 'Sinhala']}

In [96]:
x=9

if x<=5:
        print(statement is the correct)

SyntaxError: invalid syntax (<ipython-input-96-7a0e0bab0bd1>, line 4)

In [97]:
x=9
 
if x>=5:
     print("Statement is a correct")

Statement is a correct

In [98]:
x=9
 
if x>=5:
     print("Statement is a correct")
        
else:
     print("check the results")

Statement is a correct

In [99]:
x=9
y=0

if x>=5:
     y=x+2
        
else:
     print("check the results")

In [100]:
x=9
y=0

if x>=5:
     y=x+2
        
else:
     y(result)

In [24]:
y

11

In [26]:
mark=int(input("Enter the mark:"))

if mark>=80:
    grade="A"
elif mark>=65:
    grade="B"
elif mark>=50:
    grade="C"
else:
    grade="F"
    
print(grade)

Enter the mark:89
A

In [27]:
mark=46

if mark>=50:
    result="Pass"
    
else:
    result="Fail"
    
print(result)

Fail

In [28]:
x=6.99

if isinstance(x, float):
      print("x is a float")

x is a float

In [29]:
x="Cat"

if isinstance(x, float):
      print("x is a float")
        
else:
      print("x is not a float")

x is not a float

In [30]:
x=8
y=0

if x>=7:
     y=x*3
        
else:
     y(result)

In [31]:
y

24

In [ ]:
s1={1,2,3,3,4,5,6,7,8}
s2={1,2,3,7,9,10,11,12,13}

In [2]:
s1.union(s2)

NameError: name 's1' is not defined

In [3]:
s1.subset(s2)

NameError: name 's1' is not defined

In [5]:
del(s1)

NameError: name 's1' is not defined

In [6]:
s1

NameError: name 's1' is not defined

In [7]:
del(s1=2)

SyntaxError: invalid syntax (<ipython-input-7-b15730b2326e>, line 1)

In [8]:
type(s1)

NameError: name 's1' is not defined

In [10]:
s1={1,2,3,4,5,5,6,6,7}

In [11]:
type(s1)

set

In [12]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [14]:
details={"Kane": "ABC", "Jerry": "PQR", "Shehan": "SQE"}

if username in details:
           if username==details:
                print(input(Enter the username:))
                
        if password==details
            print(input(Enter the password:))
            
else:
         details(results)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [15]:
x=10

if bool(x):
     print("x is a non zero value")

x is a non zero value

In [16]:
x=0 

bool(x)

False

In [17]:
x=10

bool(x)

True

In [107]:
x=int(input("Enter a value:"))
y=int(input("Enter a value:"))
z=0

if x>5 and y>5:
     z=x+y
print(z)

Enter a value:10
Enter a value:3
0

In [108]:
x=int(input("Enter a value:"))
y=int(input("Enter a value:"))
z=0

if x>5 and y>5:
     z=x*y
print(z)

Enter a value:10
Enter a value:10
100

In [111]:
x=int(input("Enter a value:"))
y=int(input("Enter a value:"))
z=0

if x>5 and y>5:
     z=x/y
print(z)

Enter a value:12
Enter a value:13
0.9230769230769231

In [112]:
x=int(input("Enter a value:"))
y=int(input("Enter a value:"))
z=0

if x>5 and y>5:
     z=x-y
print(z)

Enter a value:12
Enter a value:11
1

In [113]:
s1={"Anne": ["ABC","pqr","TYO"], "Age":[12,24,27,39], "Languages":["Tamil", "Sinhala", "English"]}

In [114]:
type(s1)

dict

In [117]:
del(["Age": 24])

SyntaxError: invalid syntax (<ipython-input-117-e946c1307432>, line 1)

In [118]:
del(s1["Age"])

In [119]:
s1

{'Anne': ['ABC', 'pqr', 'TYO'], 'Languages': ['Tamil', 'Sinhala', 'English']}

In [123]:
x=int(input("Enter a value:"))
y=int(input("Enter a value:"))
z=45

if x>5 or y>5:
     z=x-y

print(z)

Enter a value:45
Enter a value:34
11