In [2]:
import pandas as pd
import numpy as np #For future use

In [4]:
L1=pd.Series([12,33,45,34,67],index=["a","b","c","d","e"])
L1

a    12
b    33
c    45
d    34
e    67
dtype: int64

In [5]:
L1[3]

34

In [6]:
L1["e"]

67

In [7]:
L1[0]

12

In [9]:
L1[1]

33

In [10]:
L1[2]

45

In [11]:
L1[4]

67

In [12]:
L1["a"]

12

In [14]:
L1["b"]

33

In [15]:
L1["c"]

45

In [16]:
L1["d"]

34

In [21]:
L2=pd.Series({"a":10,"b":45,"c":55,"d":65,"e":76})
L2

a    10
b    45
c    55
d    65
e    76
dtype: int64

In [22]:
L2[0]

10

In [23]:
L2[1]

45

In [29]:
L2[2]

55

In [33]:
L2[3]

65

In [32]:
L2[4]

76

In [31]:
L2["a"]

10

In [34]:
L2["b"]

45

In [35]:
L2["c"]

55

In [36]:
L2["d"]

65

In [37]:
L2["e"]

76

In [39]:
h={"Name":["Kane","Harsha","Lesy","Sam"],"Age":[23,34,45,65]}
h

{'Name': ['Kane', 'Harsha', 'Lesy', 'Sam'], 'Age': [23, 34, 45, 65]}

In [41]:
df0=pd.DataFrame(h)
df0

     Name  Age
0    Kane   23
1  Harsha   34
2    Lesy   45
3     Sam   65

In [42]:
arr=np.array([[80,65],[98,43],[54,76]])
arr

array([[80, 65],
       [98, 43],
       [54, 76]])

In [46]:
o=pd.DataFrame(arr,columns=["English Marks","Maths Marks"],index=["a","b","c"])
o

   English Marks  Maths Marks
a             80           65
b             98           43
c             54           76

In [47]:
o["English Marks"]

a    80
b    98
c    54
Name: English Marks, dtype: int32

In [48]:
o["Maths Marks"]

a    65
b    43
c    76
Name: Maths Marks, dtype: int32

In [49]:
type(df0)

pandas.core.frame.DataFrame

In [50]:
type(o)

pandas.core.frame.DataFrame

In [52]:
n1=pd.Series([2,3,5])
n1

0    2
1    3
2    5
dtype: int64

In [54]:
b1=pd.Series([2,34,45],[9,67,89])
b1

9      2
67    34
89    45
dtype: int64

In [55]:
type(n1)

pandas.core.series.Series

In [56]:
type(b1)

pandas.core.series.Series

In [57]:
print(n1)

0    2
1    3
2    5
dtype: int64

In [58]:
print(b1)

9      2
67    34
89    45
dtype: int64