In [21]:
data=[{"name":"Anne","experience":2,"age":24,"qualification":"bachelors","languages":["python","java","c#"]},
     {"name":"Kane","experience":3,"age":28,"qualification":"bachelor","languages":["java","c#","c++"]},
     {"name":"Jane","experience":7,"age":34,"qualification":"masters","languages":["c#","html"]},
     {"name":"John","experience":6,"age":28,"qualification":"bachelors","languages":["python","java","html"]},
     {"name":"Jenny","experience":5,"age":24,"qualification":"masters","languages":["c#","html","python","java"]}]

min_exp=4
qual=["bachelors","masters","phd"]
min_age=22
exp_lang=["python","java"]
selected=[]

for cv in data:
    if (cv["experience"]>=min_exp) and (cv["qualification"] in qual) and (cv["age"]>=min_age) and (set(exp_lang).issubset(set(cv["languages"]))):
        selected.append(cv["name"])
        
selected

In [34]:
import pandas as pd
data=pd.read_csv("D:\\Workshops\\Python & R for Data Science Workshop\\Python\\Datasets\\interview_screen.CSV")
data.head()

   name  experience  age qualification         languages
0   Sam           3   23     bachelors    python,java,c#
1  Kane           4   21     bachelors         html,java
2  Jane           5   22     bachelors  html,python,java
3  Pale           5   45       masters   java,python,c++
4  John           6   53       masters            c++,c#

In [35]:
def interviewee_screening(df):
    min_exp=4
    qual=["bachelors","masters","phd"]
    min_age=22
    exp_lang=["python","java"]
    selected=[]

    for cv in df.to_dict(orient='records'):
        if (cv["experience"]>=min_exp) and (cv["qualification"] in qual) and (cv["age"]>=min_age) and (set(exp_lang).issubset(set(cv["languages"].split(",")))):
            selected.append(cv["name"])
    return selected

In [36]:
interviewee_screening(data)

['Jane', 'Pale']